<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Urano</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TailWind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    </head>
    <body class="bg-gray-900">

        <section class="text-gray-100">

            <div class = "grid grid-cols-1">

                <div class = "flex justify-center py-8 px-8">
                    <img class="w-1/1"
                    src="https://i.ibb.co/KLkkh7J/letters.png">

                </div>

                <div class = "flex justify-center">
                    {% autoescape off %}
                        Bienvenido a Urano {{user.username}},

                        Haz Click en el Siguiente Link para Verificar tu Registro:

                        http://{{ domain }}{% url 'activate' uidb64=uid token=token %}
                    {% endautoescape %}

                    </div>


        </div>

            </section>
    </body>
</html>