<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Urano</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TailWind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    </head>
    <body class="bg-gray-900">

        <section class="text-gray-100">

            <div class = "grid grid-cols-1">

                <div class = "flex justify-center py-8 px-8">
                    <img class="w-1/1"
                    src="https://i.ibb.co/KLkkh7J/letters.png">

                </div>

                <div class = "flex justify-center break-words">

                    <form method = "POST">

                    {%csrf_token%}

                        <div class=" py-8 px-8 text-blue-100 rounded">


                        {% for field in form %}
                            <div class="my-2">
                                {{ field.errors }}
                                {{ field }}
                                {% if field.help_text %}
                                <p class="help text-blue-200">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>

                        <div class = "flex justify-center  ">

                                <a class="text-center hover:bg-gray-700 bg-gray-900
                                   py-2 px-4 rounded" href="{% url 'reset_password' %}">Olvide mi contraseña

                                </a>

                            </div>


                        <div class = "grid grid-cols-3 py-8 px-8 items-center">


                            <div class = "flex justify-center ">
                                <button class = "hover:bg-gray-700 bg-gray-900
                                                    py-2 px-4 rounded" type = "submit">Iniciar Sesion</button>

                            </div>

                             <div class = "flex justify-center ">

                                <a class="text-center hover:bg-gray-700 bg-gray-900
                                py-2 px-4 rounded" href="{% url 'social:begin' 'twitter' %}"> <img class="" width=30 higth=30
                                                    src="http://pngimg.com/uploads/twitter/twitter_PNG9.png"> </a>



                            </div>


                            <div class = "flex justify-center  ">

                                <a class="text-center hover:bg-gray-700 bg-gray-900
                                   py-2 px-4 rounded" href="{% url 'register' %}">Nuevo Usuario

                                </a>

                            </div>




                        </div>




                    </form>
                </div>

            {% if messages %}

            {% for messages in messages %}
                <div class="" role="alert">
                {{message}}
                </div>

            {% endfor %}
            {% endif %}
            </div>
        </section>

    </body>
</html>