{% extends 'feed/base.html' %}
{%block content%}

  <section class = "flex justify-center text-gray-100">
    <div class = "">
      <div class = "py-8">
        <img class="rounded"
                src="{{ user.profile.image.url }}"
                alt = "Generic placeholder image"
                width= "250"
                height= "250">
      </div>

      <h3 class="text-center text-4xl font-bold">{{user.username}}</h3>

    </div>

  </section>
  <article class="flex justify-center text-gray-100">
    <div class="grid grid-cols-1 text-center space-y-6">

          <div class="max-w-md text-center py-8">

            {{user.profile.bio}}

          </div>

            {%if user == request.user%}

            <a href="{% url 'profileupdate' %}"><button class = "text-center hover:bg-gray-500 bg-gray-800
                               py-2 px-4 rounded">Editar</button></a>
            {% endif %}
          <div class="">

            <a href="{% url 'pubprofile' %}"><button class = "text-center hover:bg-gray-500 bg-gray-800
                               py-2 px-4 rounded">Publicaciones de la Cuenta</button></a>
          </div>
    </div>
  </article>

{%endblock content%}
