{% extends 'feed/base.html' %}
{%block content%}

  <div class = 'container'>
    <div class = "col-sm-2">
      <div class = "media">
        <img class="account-img"
             src="{{ user.profile.image.url }}"
             alt = "Generic placeholder image"
             width= "250"
             height= "250">
      </div>

        <h3>{{user.username}}</h3>

        <a href="{% url 'profileupdate' %}"><button class = " btn btn-outline-info">Editar</button></a>

        <div class="card">

          <div class="card-body">

            {{user.profile.bio}}

          </div>
        </div>
    </div>
    <div>
<a href="{% url 'pubprofile' %}"><button class = " btn btn-outline-info">Tus Publicaciones</button></a>
</div>

</div>



{%endblock content%}
