<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Urano</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TailWind CSS -->
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    </head>
    <body class="bg-gray-900">
        <section class="text-gray-100">
            <div class = "grid grid-cols-1">
                <div class = "flex justify-center py-8 px-8">
                    <img class="w-1/1"
                    src="https://i.ibb.co/KLkkh7J/letters.png">

                </div>
                <div class = "">
                    <form method = "POST">
                        {%csrf_token%}
                        <div class = "py-8 px-8 bg-gray-500 text-gray-900">
                            {{form.as_p}}
                        </div>
                        <div class = "flex justify-center">
                            <button class = "hover:bg-gray-700 bg-gray-900
                                                    py-2 px-4 rounded" type = "submit">Registrar</button>
                        </div>
                    </form>
                    <div class = "flex justify-center">
                        <a href="{% url 'login' %}">Ir a Inicio de Sesión, tengo una Cuenta.
                        </a>
                    </div>
                </div>
                {%if messages%}
                    {%for message in message%}
                        <div class="" role="alert">
                            {{message}}
                        </div>
                    {%endfor%}
                {%endif%}
            </div>
    </section>
    </body>
</html>