<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Urano</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <!-- TailWind CSS -->

        <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">


        <link href="//www.domain.com/videojs/plugins/videojs.pip.css" rel="stylesheet" type="text/css">
    </head>

	<body class="" style="background-color: #12151E">
		<!-- Navbar goes here -->
		<nav class=" fixed w-full z-40 top-0">
			<div class="h-14 w-full mx-auto px-1 md:px-4 grid grid-cols-3 items-center shadow-lg bg-gray-900" >

			        <div class="md:flex hidden space-x-1 justify-start">
							<a href="{%url 'profile'%}" class="flex py-2 ">
							    <img src="{{ user.profile.image.url }}" alt="Logo" class="h-10 w-auto mr-1 rounded transform hover:scale-110">
							</a>
						</div>


						<!-- Primary Navbar items -->

							<div class="flex space-x-1   md:justify-center justify-start">

							<!-- Website Logo -->
							<a href="{%url 'home'%}" class="flex py-2 ">
								<img src="https://i.ibb.co/F0pTRBB/planet.png" alt="Logo" class="h-10 w-auto mr-1 rounded transform hover:scale-110">
							</a>
						</div>

						<div class="md:hidden flex justify-center">
						<button class="outline-none post-menu-button">
						<i class="fa fa-plus-square  fa-lg text-gray-100"></i>
					       </button>
					      </div>



					<!-- Secondary Navbar items -->
					<div class="hidden md:flex space-x-3 justify-end ">
						<a href="{%url 'logout'%}" class="py-2 px-2 font-medium text-white bg-gray-900 rounded hover:bg-gray-500 transition duration-300">Salir</a>
					</div>
					<!-- Mobile menu button -->


					<div class="md:hidden flex justify-end">
						<button class="outline-none mobile-menu-button">
							    <img src="{{ user.profile.image.url }}" alt="Logo" class="h-10 w-auto mr-2 rounded transform hover:scale-110">
					       </button>
					      </div>

			</div>
			<!-- mobile menu -->
"
			<div class="grid grid-cols-1">


			<div class="hidden w-1/5 justify-self-center post-menu text-center bg-gray-900 hover:opacity-100 opacity-80 rounded">
				<ul class="">
					<li><a href="{%url 'publicationcreate'%}" class=" block px-2 py-4"><i class="fa fa-commenting fa-lg" style="color:#22D3EE"></i></a></li>
					<li><a href="{%url 'publicationwcreate'%}" class="block px-2 py-4"><i class="fa fa-exclamation-triangle  fa-lg text-yellow-300"></i></a></li>
					<li><a href=# class="block px-2 py-4 "><i class="fa fa-exclamation-circle  fa-lg text-red-300"></i></a></li>
				</ul>
			</div>

			<div class="hidden absolute right-0 w-1/5 justify-self-end mobile-menu text-center bg-gray-900 hover:opacity-100 opacity-80 rounded">
				<ul class="">
					<li><a href="{%url 'profile' %}" class="block px-2 py-4"><i class="fa fa-user-circle-o fa-lg  text-gray-100"></i></a></li>
					<li><a href="{%url 'settings' %}" class="block px-2 py-4"><i class="fa fa-cogs  fa-lg text-gray-100"></i></a></li>
					<li><a href="{%url 'logout' %}" class="block px-2 py-4"><i class="fa fa-sign-out fa-lg text-gray-100"></i></a></li>

				</ul>
			</div>
			</div>

			<script>
				const btnn = document.querySelector("button.post-menu-button");
				const menuu = document.querySelector(".post-menu");

				btnn.addEventListener("click", () => {
					menuu.classList.toggle("hidden");
				});
			</script>


			<script>
				const btn = document.querySelector("button.mobile-menu-button");
				const menu = document.querySelector(".mobile-menu");

				btn.addEventListener("click", () => {
					menu.classList.toggle("hidden");
				});
			</script>


		</nav>






    <article class="grid grid-cols-1 justify-items-center md:pt-20 pt-16">
        {%block content%}

        {%endblock content%}

        </article>


    </body>
</html>