{% extends  'feed/base.html'%}

    {%block content%}

        <section class = "flex justify-center bg-gray-900 text-gray-200">
            <div class="">

                <div class="text-center py-8 ">
                    <h1 class="">Hola {{user.username}}</h1>
                </div>

                {{m}}

                <div class="grid grid-cols-2 flex justify-center ">

                    <a class="text-center" href="{%url 'publicationcreate'%}">
                        <button class = "hover:bg-gray-700 py-2 px-4 rounded">Escribir Publicacion</button>
                    </a>
                    <a class="text-center" href="{%url 'publicationwcreate'%}">
                        <button class = "hover:bg-gray-700 py-2 px-4 rounded text-yellow-300">Escribir Advertencia</button>
                    </a>
                </div>

            </div>

        </section>


        {%for publication in publicationt%}

        <article class = "flex justify-center bg-gray-900 text-gray-100 my-8 ">
            <div class = "grid grid-cols-1 shadow md:w-2/5 w-full px-2 py-2">
                <div class = "grid grid-cols-2 pt-8 py-8">
                    <div class = "pr-8 ">
                        <img href="{% url 'profile' publication.uname %}" class="rounded"
                        src="{{ publication.uname.profile.image.url }}"
                        width= "50"
                        height= "50">
                    </div>
                    <div class="text-right">
                        <a class="transform hover:text-gray-600" href="{% url 'profile' publication.uname %}">
                            <h4>{{publication.uname}}</h4></a>
                        <a href="{% url 'publicationdetail' publication.pk %}"
                           class = "font-serif">{{publication.datatime}}</a>

                    </div>

                </div>

            <div class="grid grid-cols-1">

                <div class="grid grid-cols-1">

                    <p class="text-left break-words">{{publication.text}}</p>

                </div>

                <div class="text-gray-100 ">

                    {% for tag in publication.tags.all %}

                        <a href="{% url 'publicationtags' tag.slug %}" class = "text-blue-300 font-bold capitalize"> {{tag.name}}</a>
                    {% endfor %}
                </div>


                {% if publication.video %}


                <div class="">

                      <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        width="640"
                        height="264"
                        data-setup="{}"
                      >
                         <source src="{{ publication.video.url }}" />

                      </video>
                </div>


                {% elif publication.img %}

                <div class=" ">

                    <img       src="{{ publication.img.url }}"
                               width="640"
                               height="264">
                </div>


                {% elif publication.img2 %}

                 <div class="">

                    <img       src="{{ publication.img2.url }}"
                               width="640"
                               height="264">
                </div>


                {% elif publication.pdf %}

                <div class="text-center text-lg font-bold text-blue-300">

                    <a href="{{publication.pdf.url}}">Documento PDF Adjunto <br> &#128196</a>

                </div>


                {% endif %}



                <div class="grid mt-8 grid-cols-2 py-2 text-gray-100">

                    <div class="text-center text-green-500">
                        <a>{{publication.likes.all.count}}</a><br>
                            <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded" type="submit">
                                <a href="{% url 'publicationdetail' publication.pk %}">&#10004</a></button>

                        </div>

                    <div class="text-center text-red-500 ">

                        <a>{{publication.dislikes.all.count}}</a><br>

                            <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4  rounded" type="submit">
                                <a href="{% url 'publicationdetail' publication.pk %}">&#10006</a></button>


                    </div>
                </div>


            {%if publication.uname == user%}

            <div class="grid mt-8 grid-cols-2 py-8">
                <a class="text-center" href="{% url 'publicationupdate' publication.id %}">
                    <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded">Editar</button>
                </a>
                <a class="text-center" href="{% url 'publicationdelete' publication.id %}">
                    <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded">Borrar</button>
                </a>
            </div>
            {% endif %}


            </div>

                </div>

            </div>

        </article>
        {% endfor %}

    {% for publication, map in publicationw %}

        <article class = "flex justify-center bg-gray-900 text-gray-100 my-8 px-2 py-2">
            <div class = "grid grid-cols-1 shadow md:w-2/5 w-full">
                <div class = "grid grid-cols-2 pt-8 py-8">
                    <div class = "pr-8 ">
                        <img class="rounded"
                        src="{{ publication.uname.profile.image.url }}"
                        width= "50"
                        height= "50">
                    </div>
                    <div class="text-right">
                        <a class="transform hover:text-gray-600" href="{% url 'profile' publication.uname %}"><h4>{{publication.uname}}</h4></a>
                        <a href="{% url 'publicationwdetail' publication.pk %}" class = "font-serif">{{publication.datatime}}</a>

                    </div>

                </div>


                <div class="text-center">
                <h1 class="text-lg text-yellow-300 capitalize font-bold">&#128679 {{publication.case_id}} &#128679</h1>
                </div>
                <div class="grid grid-cols-1">

                    <p class="text-left break-words">{{publication.description}}</p>

                </div>


                <div class="grid grid-cols-1">

                    <h1 class="text-center break-words text-lg font-bold">Involucrados</h1>

                </div>
                <div class="">

                    {% for tag in publication.involved.all %}

                        <a href="{% url 'publicationtags' tag.slug %}" class = "text-yellow-300 capitalize"> {{tag.name}}</a>

                    {% endfor %}
                </div>

                <div class="text-center">
                    <h1 class="text-center break-words text-lg font-bold">Ubicación</h1>
                </div>

                <div class="">

                <p class="text-left break-words"> {{publication.address}}</p>

                </div>

                {% if publication.img %}
                 <div class="">

                    <img       src="{{ publication.img.url }}"
                                width="640"
                                height="264">
                </div>

                {% elif publication.img2 %}
                 <div class="">

                <img       src="{{ publication.img2.url }}"
                            width="640"
                            height="264">
                </div>

               {% elif publication.video %}

                <div class="">

                      <video
                        id="my-videow"
                        class="video-js"
                        controls
                        preload="auto"
                        width="640"
                        height="264"
                        data-setup="{}"
                      >
                        <source src="{{ publication.video.url }}" />

                      </video>
                </div>

                     {% elif publication.pdf %}

                <div class="text-center text-lg font-bold text-yellow-300">

                    <a href="{{publication.pdf.url}}">Documento PDF Adjunto <br> &#128196</a>

                </div>

                {% else %}

               <div class="">

                {{map|safe}}

               </div>

                {% endif %}


                <div class="grid mt-8 grid-cols-2 py-2 text-gray-100">

                    <div class="text-center text-green-500">
                        <a>{{publication.likes.all.count}}</a><br>


                            <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded" type="submit">
                                <a href="{% url 'publicationwdetail' publication.pk %}">&#10004</a></button>

                        </div>

                    <div class="text-center text-red-500 ">

                        <a>{{publication.dislikes.all.count}}</a><br>



                            <button  class = "hover:bg-gray-700 bg-gray-800 py-2 px-4  rounded" >
                                <a href="{% url 'publicationwdetail' publication.pk %}">&#10006</a></button>

                    </div>
                </div>


            {%if publication.uname == user%}

            <div class="grid mt-8 grid-cols-2 py-8">
                <a class="text-center" href="{% url 'publicationwupdate' publication.id %}">
                    <button  class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded ">Editar</button>
                </a>
                <a class="text-center" href="{% url 'publicationwdelete' publication.id %}">
                    <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded">Borrar</button>
                </a>
            </div>
            {% endif %}

            </div>

        </article>
    {% endfor %}

    {% for publication in publicationi %}

        <article class = "flex justify-center bg-gray-900 text-gray-100">
            <div class = "grid grid-cols-1">
                <div class = "grid grid-cols-2 pt-8">
                    <div class = "pr-8">
                        <img class="rounded"
                        src="{{ publication.uname.profile.image.url }}"
                        width= "50"
                        height= "50">
                    </div>
                <div class="text-right">
                    <a class="transform hover:text-gray-600" href="{% url 'profile' publication.uname %}"><h4>{{publication.uname}}</h4></a>
                    <p class = "font-serif">{{publication.datatime}}</p>

                </div>


                </div>

                <div class="grid grid-cols-1">

                <div class="grid grid-cols-1">
                <h5 class="text-lg">{{publication.text}}</h5>
                {%if publication.uname == user%}
                </div>

                <div class="grid grid-cols-2">
                <a class="text-center" href="{% url 'publicationiupdate' publication.id %}">
                <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded">Editar</button>
                </a>
                <a class="text-center" href="{% url 'publicationidelete' publication.id %}">
                <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded">Borrar</button>
                </a>
                </div>

                {% endif %}
                </div>
                </div>

        </article>
    {% endfor %}

    {%endblock content%}
