{% extends  'feed/base.html'%}

    {%block content%}


        <article class = "flex justify-center bg-gray-900 text-gray-100 my-8 ">
            <div class = "grid grid-cols-1 w-2/5 shadow">
                <div class = "grid grid-cols-2 pt-8 py-8">
                    <div class = "pr-8 ">
                        <img class="rounded"
                        src="{{ publication.uname.profile.image.url }}"
                        width= "50"
                        height= "50">
                    </div>
                    <div class="text-right">
                        <a class="transform hover:text-gray-600" href="{% url 'profile' publication.uname %}"><h4>{{publication.uname}}</h4></a>
                        <a href="{% url 'publicationdetail' publication.pk %}" class = "font-serif">{{publication.datatime}}</a>

                    </div>

                </div>

            <div class="grid grid-cols-1">

            <div class="grid grid-cols-1">

            <p class="text-left break-words">{{publication.text}}</p>

            </div>

            <div class="text-gray-100 ">

                    {% for tag in publication.tags.all %}

                        <a href="{% url 'publicationtags' tag.slug %}" class = "text-blue-300 font-bold capitalize"> {{tag.name}}</a>
                    {% endfor %}
                </div>


                {% if publication.img %}
                <div class="grid grid-cols-1">

                    <img       src="{{ publication.img.url }}"
                               width="640"
                               height="264">
                </div>
                {% endif %}
                {% if publication.img2 %}
                <div class="grid grid-cols-1">

                    <img       src="{{ publication.img2.url }}"
                               width="640"
                               height="264">
                </div>
                {% endif %}



                {% if publication.video %}

                <div class="grid grid-cols-1">

                      <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        width="640"
                        height="264"
                        data-setup="{}"
                      >
                         <source src="{{ publication.video.url }}" />

                      </video>
                </div>

                {% endif %}

                {% if publication.pdf %}

                <div class="text-center text-lg font-bold text-blue-300">

                    <a href="{{publication.pdf.url}}">Documento PDF Adjunto <br> &#128196</a>

                </div>


                {% endif %}



                {% if not publication.uname == user %}
                <div class="grid mt-8 grid-cols-2 py-2 text-gray-100">

                    <div class="text-center text-green-500">

                        <span>{{publication.likes.all.count}}</span>

                        <form method="POST" action="{% url 'like' publication.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value={{request.path}}>
                            <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded" type="submit">&#10004</button>

                        </form>

                    </div>

                    <div class="text-center text-red-500">

                        <span>{{publication.dislikes.all.count}}</span>

                        <form method="POST" action="{% url 'dislike' publication.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value={{request.path}}>
                            <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded" type="submit">&#10006</button>

                        </form>


                    </div>
                </div>

                {% else %}

                <div class="grid mt-8 grid-cols-2 py-2 text-gray-100">

                    <div class="text-center text-green-500">
                        <a>{{publication.likes.all.count}}</a><br>


                            <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded" type="submit">&#10004</button>

                        </div>

                    <div class="text-center text-red-500 ">

                        <a>{{publication.dislikes.all.count}}</a><br>


                            <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4  rounded" type="submit">&#10006</button>


                    </div>
                </div>

                {% endif %}

            {%if publication.uname == user%}

            <div class="grid mt-8 grid-cols-2 py-8">
                <a class="text-center" href="{% url 'publicationupdate' publication.id %}">
                    <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded">Editar</button>
                </a>
                <a class="text-center" href="{% url 'publicationdelete' publication.id %}">
                    <button class = "hover:bg-gray-700 bg-gray-800 py-2 px-4 rounded">Borrar</button>
                </a>
            </div>
            {% endif %}

            </div>
                </div>

            </div>

        </article>


    {%endblock content%}
